* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Neue", cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #fefefe;
}

.logo {
    max-width: 10rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #5d6d7e;
    font-size: 1.5rem;
    padding-right: 2rem;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

h1{
    font-weight: 300;
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
    color: #5d6d7e;
}

.linea {
    background: #5d6d7e;
    height: 8px;
    width: 100%;
    display: block;
}

section{
	max-width: 1300px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.principal{
	width: 100%;
	height: 550px;
	background-image: url(Imagenes/Principal.jpg);
    background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
    border-radius: 25px;  
    margin-top: 20px;
}

h2{
    font-weight: 300;
    text-align: left;
    padding: 10px 0;
    font-size: 30px;
    color: #5d6d7e;
}


.texto{
    font-family: "Comic Neue", cursive;
    color: #5d6d7e;
    text-align: left;
    font-size: 18px;
    margin-top: 30px;  
    margin-left: 20px;
    margin-right: 20px;    
}
.muestra {
    padding: 10px;
    width: 350px;
    height: 250px;
    margin: 0 15px;
    border-radius: 25px;
}

.contenedor{    
    margin-top: 20px;
    display: flex;    
    justify-content: center;
}

div{
    line-height: 30px;
}

.personajes {
    margin-top: 20px;
    display: flex;    
    justify-content: center;
}
.personajes img {
    max-width: 320px;
    float: left;
    border: 3px solid #ffffff;
    border-radius: 10px ;
    margin-right: 15px;
}

.principal2{
	width: 100%;
	height: 800px;
	background-image: url(Imagenes/galeria/imagen9.jpg);
    background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
    border-radius: 25px;  
    margin-top: 20px;
}

.secundario{
	margin-top: 5%;
	display: flex;
}
.secundario div{
	width: 33%;
	padding: 2%;
	text-align: center;
}
.secundario div a img{
	width: 100%;
	margin-bottom: 2rem;
}
h4{
	font-size: 1.5rem;
	text-transform: uppercase;
}


.form{
	width:100%;
	height:440px;
	background:#e6e6e6;
	border-radius:8px;
	box-shadow:0 0 40px -10px #000;
	margin:calc(1vh) auto;
	padding:10px 30px;
	box-sizing:border-box;
	font-family:'Montserrat',sans-serif;
	font-size: 14px;
	position:relative
}

h3.contacto{
	margin:10px 0;
	padding-bottom:10px;
	width:150px;
	color:#78788c;
	border-bottom:3px solid #78788c;
	font-size: large;
}

input{
	width:100%;
	margin-top: 30px;
	padding:10px;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	transition:all .3s;
	border-bottom:2px solid #bebed2
}

input:focus{
	border-bottom:2px solid #78788c
}

button{
	padding:8px 12px;
	margin:50px 0 0;
	border:2px solid #78788c;
	background:0;color:#5a5a6e;
	cursor:pointer;
	transition:all .3s;
}

button:hover{
	background:#78788c;
	color:#fff;
}

div.pie_contacto{
	position:absolute;
	bottom:-15px;
	right:30%;
	background:#50505a;
	color:#fff;
	width:420px;
	padding:16px 4px 16px 0;
	border-radius:6px;
	box-shadow:10px 10px 40px -14px #000;
}

div.pie_contacto span{
	margin:0 5px 0 15px;
}

footer{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 350px;        
}

footer img{
	max-width: 5rem;
	width: 100%;
	height: auto;
	margin-right: .5%;
    padding: 10px;
}



@media screen and (max-width: 480px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }

    section{
        max-width: 480px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .principal{
        display: block;
        height: 250px;
        padding: 20%;              
    }
    .texto{
        font-size: 1rem;
    }

    h2{
        font-size: 2rem;
    }

    .contenedor{
        margin-top: 1%;
        display: block;
    }

    .personajes{
        margin-top: 2%;
        display: block;
        padding: 2rem;
    }
    
    .personajes img {
        margin-bottom: 1rem;
        justify-content: center;
    }
    .principal2{
        display: block;
        height: 250px;
        padding: 20%;              
    }

    .secundario{
        margin-top: 1%;
        display: block;
    }
    .secundario div{
        margin-right: auto;
        margin-left: auto;
        width: 90%;        
    }
    .secundario div a img{
        margin-bottom: 1rem;
    }
    h2{
        font-size: 1rem;
    }
    h4{
        font-size: 1rem;
    }

    .pie_contacto{
        justify-content: center;
        margin-top: 1%;
        display: block;
    }

    footer{
        height: 80px;
        justify-content: space-evenly;
    }
    footer img{
        max-width: 3rem;
    }
   
}